# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/.name
/node_modules
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
